* {
    box-sizing: border-box;
    color: rgb(5,210,243);
    font-family: 'Montserrat', sans-serif;
  }
  html{
    background: url("zdjecia/Tło_Strony.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  [class*="col-"] {
    float: left;
  }
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%; text-align: center; }
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%; }
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-8 h1{
    font-size: 6vw;
    margin: 20px;
}
.col-8 h2{
    font-size: 2vw;
    margin: 10px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .col-8 h1{
    font-size: 10vw;
}
.col-8 h2{
    font-size: 6vw;
}
}
.row::after {
    content: "";
    clear: both;
    display: block;
    text-align: center;
    justify-content: center;
}


img{
    width: 100%;
    height: 100%; 
    animation: wheel 3s forwards;
    animation-direction: normal;
}


.naglowki{
    padding-top: 8vw;
    /* text-shadow: 0px 0px 10px rgb(5,211,245); */
}
.info-box{
    border: 2px solid rgb(5,211,245);
    background-color: rgba(44,44,44,0.5);
    color: rgb(5,210,243);
    box-shadow: inset 0 0 1em rgb(5,211,245);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
p{
    padding-top: 20px;
}
table{
    text-align: left;
    margin: 0 auto;
}
td:nth-child(2n){
    font-weight: bold;
}
.logo h1{
    /* TU TRZEBA ZROBIC TRYBIKI */
}
ul{
    text-align: left;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-shadow: 2px 2px 10px rgb(5,211,245);
}
.slide-right {
    width: 100%;
    overflow: hidden;
  }
  
  .slide-right h2 {
    animation: 2s slide-right 1s forwards;
    transform:translateX(-111%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }
  @keyframes wheel {
    100% {transform: rotate(360deg);}
  }
  body, html {
    height: 100%;
    text-align: center;
}
